.dangnhap
{
    width: 100%;
    height: 100%;
}
.dangnhap_input
{
    border: none;
    font-size: 18px;
    width: 80%;
    margin-top: 0;
    vertical-align: 10px;
}
.dangnhap_anchor:visited{
    color: #868585;
}
.dangnhap_hr
{
    width: 60%;
    color:#318FB5
}
.dangnhap_form
{   
    background-image:url(../images/dangnhap/nendangnhap.png);
    background-size: 100% 150%;
    margin: 10% 20% 10% 20%;
    background-repeat: no-repeat;
    padding-left: 15%;
    vertical-align: top;
    padding-bottom: 15%;
    padding-top: 1%;
    width: 50%;
    
}
.dangnhap_for
{   
    width: 66%;
    height: 100%;
    margin-left: 35%;
    padding-right: 10%;
}
.dangnhap_inline1
{
    text-align: center;
    width: 50%;
    display: inline-block;

    margin-bottom: 5%;
    font-size: 170%;
    color: #868585;
    
}
.dangnhap_inline
{
    text-align: center;
    width: 47%;
    display: inline-block;

    margin-bottom: 5%;
    font-size: 200%;
    color: #318FB5;
}
.dangnhap_khung
{
    border:1px solid black;
    width: 80%;
    border-radius: 10px;
    height: 38px;
    background-color: white;
    margin-bottom: 2%;
}
.icon_khung
{
    padding:0;
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: top;
    color: #318FB5;
}
.vl {
    border-left: 1px solid black;
    height: 38px;
    display: inline-block;
  }
.dangnhap_quenmatkhau
{
    display: inline;
    margin-left: 20%;
    font-style: normal;
    text-decoration: none;
}
.remember
{
    display: inline;
}
.dangnhap_btn
{
    text-align: center;
    margin-top: 4%;
    margin-left: 8%;
    padding: 10px;
    position: absolute;
    width: 8%;
    height: 6%;
    background: #318FB5;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    
}
.btn_text
{
    width: 100%;
    text-align: center;
}
.dangnhap_ghinho
{
    color: #575454;
    font-size: 13px;
}
.dangnhap_anchor
{
    color: #868585;
    font-style: normal;
    text-decoration: none;
}
