* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: WorkSans;
    src: url(../fonts/WorkSans.ttf);
}
html {
    font-family: WorkSans;
}
.left {
    float: left;
}
#kimono {
    margin-top: 120px;
    padding: 50px 70px;
    background: url(../images/van_hoa/nenhoakimono.png) bottom center /100% no-repeat ,url(../images/van_hoa/nenkimono.png) center /contain no-repeat;
}
#kimono h1 {
    margin-bottom: 20px;
    color: #ED809D;
    text-align: center;
    font-size: 40px;
    -webkit-text-stroke-width: 0.3px;
}
#kimono h3 {
    margin: 20px 0 10px 0;
    color: #ED809D;
    font-size: px;
    -webkit-text-stroke-width: 0.3px;
}
#kimono p {
    margin: 10px 0;
}
#kimono .image {
    text-align: center;
}


